{% extends "store/base.html" %}

{% block title %}
<title>
    Loaned Books List | Library
</title>
{% endblock %}

{% block content %}

<h3>Loaned Books list</h3>

<table class="table">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Genre</th>
        <th scope="col">Borrow Date</th>
        <th scope="col">Return Buttons</th>
        <th scope="col"> rate me</th>
        </tr>
    </thead>
    <tbody>
        {% for copy in books %}
        <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td><a href="/book/{{copy.book.id}}/">{{ copy.book.title }}</a></td>
        <td>{{ copy.book.author }}</td>
        <td>{{ copy.book.genre }}</td>
        <td>{{ copy.borrow_date }}</td>
        <td><button class="btn btn-primary" onclick="returnBook({{copy.id}})">Return {{ copy.book.title }}</button></td>
        <td>
               
                <form>
                <label for="RATE ME">RATE ME:</label><br>
               a2: <input type="number" id="rating"  min="1" max="10" value=0.0><br>
                <button onclick="ratebook({{copy.book.id}})">RATE ME</button>
                </form>

              


        </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script>
// Fill in this function by yourself. It should make a post call to the returnBookView and display an appropriate message
function returnBook(bid)
{
    var ab=document.getElementById('rating').value
    $.ajax({
		url: "{% url 'return-book' %}",
		method: "POST",                                
		data: {
			'bid':bid,
		},
		success: function(data, status, xhr){
            alert('yoyo');
            
			if(data['message'] == "success"){
                 alert('book is safely placed in library')
                window.location.replace("../../");
			}
			else{
				alert("Unable to return");
			}
            
		},
		error: function(xhr, status, err){
			alert("Some error occured");
		}

	})





}
function ratebook(bid)
{
    var ab=document.getElementById('rating').value
    
    $.ajax({
		url: "{% url 'rate-book' %}",
		method: "POST",                                
		data: {
			'rating':ab,
            'bid': bid,
		},
		success: function(data, status, xhr){
            alert('rating is successfully updated');
            
			if(data['message'] == "success"){
                 alert('book is safely placed in library')
                //window.location.replace("../../");
			}
			else{
				alert("Unable to return");
			}
            
            
		},
		error: function(xhr, status, err){
			alert("Some error occured");
		}

	})





}





</script>
{% endblock %}